.signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    height: 100vh; 
    background-color: #333;
    gap: 50px;
}

.signup .logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 300px;
}

.signup .signupForm {
    text-align: left;
    background: #444;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    width: 300px;
}

.signup .header {
    color: white;
    text-align: center;
}

.signup .input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #555;
    color: white;
}

.signup .input::placeholder {
    color: #aaa;
}

.signup .inputError {
    border-color: red;
}

.signup .button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signup .button:hover {
    background-color: #0056b3;
}

.signup .signInLink {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
}

.signup .signInLink:hover {
    text-decoration: underline;
}
