.dashboard {
    height: 92vh;
    width: 100vw;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard .dashboardContainer {
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard .employeeName, 
.dashboard .timeDisplay,
.dashboard .resultEntry {
    color: var(--color-white);
}

.dashboard .timeDisplay,
.dashboard .clockStatus {
    font-size: 1.5rem;  
    margin: 1rem 0;
}



@media only screen and (max-width: 600px) {
    .dashboard .dashboardContainer {
        padding: 1.25rem; 
        height: auto;
    }
}
