.settings {
    height: 92vh;
    width: 100vw;
    margin-top: 8vh;
    overflow: auto;
}

.settings h1{
    color: var(--color-white);
    margin: 2rem 0 2rem 4rem;
}

.settings .accountCard {
    font-family: Arial, sans-serif;
    margin: 0 25vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings .accountCard h1 {
    font-size: 24px;
    color: var(--color-white);
    margin-bottom: 20px;
}

.settings .accountCard h2 {
    font-size: 20px;
    color: var(--color-light-blue);
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--color-lighter-gray);
    padding-bottom: 5px;
}

.settings .accountCard p {
    font-size: 16px;
    color: var(--color-white);
    margin-bottom: 10px;
}

.settings .accountCard .accountInfo,
.settings .accountCard .passwordChange {
    width: 100%;
    margin: 0;
}

.settings .accountCard .passwordChangeInputs{
    width: 60%;
    margin: 0;
}

.settings .accountCard input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--color-lighter-gray);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.settings .accountCard input[type="password"]:focus {
    border-color: var(--color-primary-blue);
}

.settings .accountCard .errorMessage {
    color: var(--color-red);
}

.settings .accountCard .successMessage {
    color: var(--color-green);
}

.settings .accountCard button {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.settings .accountCard button:hover {
    background-color: var(--color-dark-blue);
}
