.signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    height: 100vh; 
    background-color: var(--color-dark-gray);
    gap: 2rem;
}

.signup .logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 18.75rem;
}

.signup .signupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: var(--color-medium-gray);
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.5);
    width: 22rem;
}

.signup .header {
    box-shadow: none;
    background-color: var(--color-medium-gray);
    color: var(--color-white);
    text-align: center;
    margin-bottom: 0;
}

.signup .inputFields {
    margin-bottom: 1rem;
}

.signup .input {
    width: 95%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: 1px solid var(--color-light-gray);
    border-radius: 0.3125rem;
    background-color: var(--color-light-gray);
    color: var(--color-white);
}

.signup .input::placeholder {
    color: var(--color-white);
}

.signup .input.error {
    border-color: red;
}

.signup .errorMessage {
    color: red;
}

.signup .button {
    width: 100%;
    padding: 0.625rem;
    background-color: var(--color-primary-blue);
    border: none;
    border-radius: 0.3125rem;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
}

.signup .button:hover {
    background-color: var(--color-dark-blue);
}

.signup .signInLink {
    display: block;
    margin-top: 0.625rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary-blue);
}

.signup .signInLink:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .signup {
        padding: 5vh 1rem;
    }

    .signup .logo {
        width: 70vw;
    }

    .signup .signupForm {
        width: 90vw;
        padding: 1rem;
    }

    .signup .input {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .signup .logo {
        width: 80vw;
    }

    .signup .signupForm {
        width: 70vw;
    }
}
