.work-entry {
    background-color: var(--color-medium-gray);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.work-entry h3 {
    color: var(--color-light-blue);
    border-bottom: 1px solid var(--color-primary-blue);
    padding-bottom: 8px;
    margin-bottom: 16px;
    font-size: 1.25em;
}

.work-entry p {
    margin: 8px 0;
    font-size: 0.9em;
    color: var(--color-white);
}

.work-entry p strong {
    font-weight: 600;
    color: var(--color-light-blue);
}
