.timeDisplayContainer .timeDisplay {
    color: var(--color-white);
}

.timeDisplayContainer .timeDisplay {
    font-size: 1.5rem;  
    margin: 1rem 0;
}

@media only screen and (max-width: 600px) {

    .clockingContainer .timeDisplay {
        font-size: 1.25rem;
    }
}