.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    height: 100vh; 
    background-color: var(--color-dark-gray);
    gap: 2rem;
}

.login .logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 18.75rem; 
}

.login .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: var(--color-medium-gray);
    padding: 1.25rem; 
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.5);
    width: 22rem;
}

.login .header {
    color: var(--color-white);
    background-color: var(--color-medium-gray);
    box-shadow: none;
    text-align: center;
    margin-bottom: 0;
}

.login .input {
    width: 95%;
    padding: 0.625rem; 
    margin: 0.625rem 0;
    border: 1px solid var(--color-light-gray);
    border-radius: 0.3125rem;
    background-color: var(--color-light-gray);
    color: var(--color-white);
}

.login .input::placeholder {
    color: var(--color-light-blue);
}

.login .button {
    width: 100%;
    border-radius: 0.3125rem;
    font-weight: bold;
    cursor: pointer;
}

.login .createAccountLink {
    display: block;
    margin-top: 0.625rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-link-blue);
}

.login .createAccountLink:hover {
    text-decoration: underline;
}

.login .checkboxContainer {
    align-self: start;
    color: var(--color-white);
    margin: 0.625rem 0;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .login {
        padding: 5vh 1rem;
    }

    .login .logo {
        width: 70vw;
    }

    .login .loginForm {
        width: 90vw;
        padding: 1rem;
    }

    .login .input {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .login .logo {
        width: 80vw;
    }

    .login .loginForm {
        width: 70vw;
    }
}