.navbar {
    background-color: var(--color-dark-gray); 
    width: 100%;
    height: 8vh;    
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem 1rem;
    z-index: 1000;
}

.navbarContainer {
    display: none; /* Hide navbar by default, for mobile responsiveness */
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbarLeft,
.navbarRight {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
}


.navbarLeft {
    justify-content: flex-start;
    order: 1;
}

.logoImage {
    order: 2;
    z-index: 1;
    max-height: 90%;
    width: auto;
    margin: 0 auto; 
}

.navbarRight {
    justify-content: flex-end;
    gap: 1.25rem;
    order: 3;
}

.navigationButtons {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.navButton,
.logoutButton {
    display: flex;
    align-items: center;
    height: 75%;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navButton, .mobileNavButton {
    background-color: var(--color-primary-blue);
}

.navButton:hover, .mobileNavButton:hover {
    background-color: var(--color-dark-blue);
}

.logoutButton, .mobileLogoutButton {
    background-color: var(--color-red);
}

.logoutButton:hover, .mobileLogoutButton:hover {
    background-color: var(--color-dark-red);
}

.mobileNavbarContainer {
    display: flex; /* Show mobile header by default, for mobile responsiveness */
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    height: 100%;
}

.menuToggle {
    display: flex;
    z-index: 1001;
    font-size: 2.5rem;
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

.mobileDropdown {
    display: flex;  
    position: absolute;
    top: 100%;  
    left: 0;  
    background-color: var(--color-dark-gray);
    width: 100vw; 
    z-index: 1000;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
}

.mobileNavButton,
.mobileLogoutButton{
    width: 100%;
    height: auto;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
    border: none;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
}

@media (min-width: 48rem) { 
    .navbarContainer{
        display: flex;
    }

    .mobileNavbarContainer{
        display: none;
    }

    .navigationButtons {
        display: flex; 
    }

    .menuToggle {
        display: none;
    }
    
    .mobileDropdown {
        display: none;
    }

    .navButton,
    .logoutButton {
        width: 100%;
        text-align: center;
        padding: 0 1rem;
    }
}